services:
  app:
    build:
      context: .
      dockerfile: DOCKERFILE
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    environment:
      POSTGRES_USER: stupid-db-user
      POSTGRES_PASSWORD: stupid-db-password
      POSTGRES_DB: stupid-db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    ports:
      - "8080:8080"

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: stupid-db-user
      POSTGRES_PASSWORD: stupid-db-password
      POSTGRES_DB: stupid-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: